@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Конвертирование</title>


    <style>
        .design {
            display: inline-block; /* Строчно-блочный элемент */
            padding: 5px 20px; /* Добавляем поля */
            text-decoration: none; /* Убираем подчёркивание у ссылки */
            cursor: pointer; /* Курсор в виде руки */
            background: #deefff; /* Фон для браузеров, не поддерживающих градиент */
            /* Градиент */
            background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede));
            background: -webkit-linear-gradient(top, #deefff 0%,#98bede 100%);
            background: -o-linear-gradient(top, #deefff 0%,#98bede 100%);
            background: -ms-linear-gradient(top, #deefff 0%,#98bede 100%);
            background: linear-gradient(top, #deefff 0%,#98bede 100%);
            border-radius: 10px; /* Скругляем уголки */
            border: 1px solid #008; /* Добавляем синюю рамку */
            font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */
            color: #2c539e; /* Цвет текста и ссылки */
        }
    </style>
</head>

<body>
<center>
    <hr>
    <a href="/Home/Index/" class="design">Начальная страница</a>
    <a href="/Home/Dynamic/" class="design">График</a>
    <a href="/Home/Convert/" class="design">Конвертер</a>
    <a href="/Home/Settings/" class="design">Настройки</a>
    <hr>
</center>

    <h3>Конвертер валют</h3>

    
    <select id="valute" name="valSelection">
        @foreach (string val in (List<string>)ViewBag.SelectList)
        {
            <option>@val</option>
        }
    </select>

</body>

</html>


