@using Microsoft.AspNetCore.Mvc.Rendering

@using WebApplication1.Models
@{
    Layout = null;
}
<html>
<head>
    <title>Курс валют</title>
    <!--ajax. передавать серверу, чтобы он менял значение или в куки-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


    <style>
        .design {
            display: inline-block; /* Строчно-блочный элемент */
            padding: 5px 20px; /* Добавляем поля */
            text-decoration: none; /* Убираем подчёркивание у ссылки */
            cursor: pointer; /* Курсор в виде руки */
            border-radius: 10px; /* Скругляем уголки */
            border: 1px solid #008; /* Добавляем синюю рамку */
            font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */
            color: #B6B8DB; /* Цвет текста и ссылки */
        }

        .selected {
            display: inline-block; /* Строчно-блочный элемент */
            padding: 5px 20px; /* Добавляем поля */
            text-decoration: none; /* Убираем подчёркивание у ссылки */
            cursor: pointer; /* Курсор в виде руки */
            border-radius: 10px; /* Скругляем уголки */
            border: 1px solid #008; /* Добавляем синюю рамку */
            font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */
            color: #6A87EC; /* Цвет текста и ссылки */
        }
  
    </style>
    <style>
        body {
            background: #1E223B;
            color: #ffffff;
        }

        hr {
            border: none;
            color: #292F4E;
            background-color: #292F4E;
            height: 1px;
        }
    </style>

</head>
<body>
    <center>
        <hr>
        @*<img src="/1.png"/>*@
        <a href="/Home/Index/" class="selected">Начальная страница</a>

        @*<img src="/2.png"/>*@
        <a href="/Home/Dynamic/" class="design">График</a>

        @*<img src="/3.png"/>*@
        <a href="/Home/Convert/" class="design">Конвертер</a>

        @*<img src="/4.png"/>*@
        <a href="/Home/Settings/" class="design">Настройки</a>
        <hr>
    </center>
    <h3>Курс валют от @ViewBag.LoadDate</h3>

    <table>
        <tr>
            <td><b>Валюта</b></td>
            <td><b>Стоимость</b></td>
        </tr>
        @foreach (var val in (Dictionary<string, string>)ViewBag.Vals)
            {
            <tr>
                <td>@val.Key</td>
                <td>@val.Value</td>
            </tr>
        }
    </table>
</body>

</html>
