@using WebApplication1.Models
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Настройки</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var selected = new Array();
            //$(document).on("click", ".chkitem", function (e) {
            $(document).on("change", "input[type=checkbox]", function (e) {
                var chk = $(this).attr("name");
                var chkVal = $(this).attr("value");
                //alert(chk);
                selected.push(this.value);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangeCheckbox", "Check")",
                    data: { "name": chk },
                    async: false,
                    success: function (data) {
                        //alert(data);
                    },
                    dataType: 'html',
                    error: function (data) {
                        alert("fail");
                    }
                });


            });
        });
    </script>

    <style>
        .design {
            display: inline-block; /* Строчно-блочный элемент */
            padding: 5px 20px; /* Добавляем поля */
            text-decoration: none; /* Убираем подчёркивание у ссылки */
            cursor: pointer; /* Курсор в виде руки */
            border-radius: 10px; /* Скругляем уголки */
            border: 1px solid #008; /* Добавляем синюю рамку */
            font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */
            color: #B6B8DB; /* Цвет текста и ссылки */
        }
        .selected {
            display: inline-block; /* Строчно-блочный элемент */
            padding: 5px 20px; /* Добавляем поля */
            text-decoration: none; /* Убираем подчёркивание у ссылки */
            cursor: pointer; /* Курсор в виде руки */
            border-radius: 10px; /* Скругляем уголки */
            border: 1px solid #008; /* Добавляем синюю рамку */
            font: 12px/1 Arial, sans-serif; /* Рубленый шрифт */
            color: #62D370; /* Цвет текста и ссылки */
        }
    </style>
    <style>
        body {
            background: #1E223B;
            color: #ffffff;
        }
        hr {
    border: none; 
    color: #292F4E;
    background-color: #292F4E; 
    height: 1px;
   }

       
    </style>
</head>

<body>
    <center>
        <hr>
        <a href="/Home/Index/" class="design">Начальная страница</a>
        <a href="/Home/Dynamic/" class="design">График</a>
        <a href="/Home/Convert/" class="design">Конвертер</a>
        <a href="/Home/Settings/" class="selected">Настройки</a>
        <hr>
    </center>

    <h3>Отображаемые валюты</h3>
    <table>
        <tr>          
        </tr>
        @foreach (Valutes val in (List<Valutes>)ViewBag.Vals)
            {
            <tr>
                <td>
                    @*<input type="checkbox" name="@_val.Name" class="chkitem"/>*@
                    @Html.CheckBox(val.Name, val.IsChecked)
                </td>
                <td>@val.Name</td>
            </tr>
        }
    </table>
</body>

</html>